body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#app {
    text-align: center;
}

h1 {
    color: #00d4ff;
}

#mods-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.mod {
    background-color: #1e1e1e;
    border: 1px solid #00d4ff;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 212, 255, 0.5);
}

.mod h2 {
    font-size: 18px;
    color: #00d4ff;
}

.mod p {
    font-size: 14px;
    color: #cfcfcf;
}

.mod a {
    color: #00d4ff;
    text-decoration: none;
}
